---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About me and this website.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/me_in_jetplane.jpg" alt="Me sitting in an RAF Tornado!" width="330">
      <figcaption>
       <em>`Me in a Tornado jet.</em>
      </figcaption>
    </figure>
    <p>I guess I need to put some text in here about how wonderful I am.</p>
    <h2>Certifications</h2>
  <p>Click here for my Trailhead profile.</p>  
  
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
